<html xmlns:th="http://www.w3.org/1999/xhtml">

<body>


<div th:fragment="menu">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <!--            <div clas="row">-->
            <!--                <div class="col-7"><a class="navbar-brand" th:href="@{/}" th:text="#{start.page.title}">Conference Management System</a></div>-->
            <!--            </div>-->

            <div class="col-3" th:replace="fragments/lang_menu :: lang"></div>

            <div class="col-2">
                <!--                <a class="btn btn-outline-success" th:href="@{/login}" th:text="#{login.login}">Sign in</a>-->
                <!--                <a class="btn btn-outline-success" th:href="@{/signup}" th:text="#{login.sign.up}">Signup</a>-->
                <!--                <a class="btn btn-outline-success" th:href="@{/logout}" th:text="#{login.out}">Log out</a>-->
            </div>
            <form action="" th:action="@{/logout}" name="logout" method="POST">
                <button type="submit" class="btn btn-outline-success" name="logout" value="logout"
                        th:text="#{login.out}">Log out
                </button>
            </form>
        </div>
    </nav>
</div>
</body>

</html>