<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="fragments/login_page :: head_tag"></div>
</head>
<body class="p-0 m-0" th:style="'background: url(../img/desk.jpg) no-repeat center center fixed; background-size: 100% 100%;'">

<div th:fragment="menu">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <div class="col-3" th:replace="fragments/lang_menu :: lang"></div>
            <form action="" th:action="@{/logout}" name="logout" method="POST">
                <a class="btn btn-outline-success" th:href="@{/index}" th:text="#{back.button}">Back</a>
                <button type="submit" class="btn btn-outline-success" name="logout" value="logout"
                        th:text="#{login.out}">Log out
                </button>
            </form>
        </div>
    </nav>
</div>



<div class="container w-75 bg-light">
    <div class="row my-5">
        <div class="col py-3 shadow rounded">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" th:text="#{event.crete.title}">Title</th>
                    <th scope="col" th:text="#{event.scheduled.date}">ScheduledDate</th>
                    <th scope="col" th:text="#{register.to.event}">Register to event</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.title}"/>
                    <td th:text="${event.scheduledDate}"/>
<!--                    <td>-->
<!--                        <a class="btn btn-outline-secondary" th:href="@{/{id}/event-reg(id=${event.getId})}"-->
<!--                           th:text="#{speaker.register}">Register</a>-->
<!--                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div th:replace="fragments/login_page :: footer"></div>
</body>
</html>