<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <div th:replace="fragments/login_page :: head_tag"></div>

</head>
<body class="p-0 m-0"
      th:style="'background: url(../img/desk.jpg) no-repeat center center fixed; background-size: 100% 100%;'">
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <div>
            <a href="?lang=en" class="btn btn-outline-success">English</a>
            <a href="?lang=uk" class="btn btn-outline-success">Українська</a>
        </div>
<!--        <div class="col-2">-->
<!--            <a class="btn btn-outline-success" th:href="@{/event/all}" th:text="#{back.button}">Back</a>-->
<!--        </div>-->
        <form action="" th:action="@{/logout}" name="logout" method="POST">
            <a class="btn btn-outline-success" th:href="@{/event/all}" th:text="#{back.button}">Back</a>
            <button type="submit" class="btn btn-outline-success" name="logout" value="logout"
                    th:text="#{login.out}">Log out
            </button>
        </form>
    </div>
</nav>
<!--<div th:replace="fragments/top_menu :: menu"></div>-->
<div class="card text-center container  mt-5 w-50 shadow-lg">
    <h2 class="card-header" th:text="#{event.edit}">Edit event</h2>
    <div class="col py-3">
        <form action="#" method="POST" class="register-form" id="register-form"
              th:action="@{/event/update/{id}(id=${event.getId()})}"
              th:object="${event}">

            <div class="form-group">
                <br> <label for="title"><i class="zmdi zmdi-account-o"></i></label>
                <input type="text" th:field="*{title}" name="title" id="title"
                       placeholder="Title" th:placeholder="#{event.crete.title}" required>
                <small class="text-danger" th:if="${#fields.hasErrors('title')}"
                       th:errors="*{title}">Validation error
                </small>
            </div>

            <div class="form-group">
                <label for="scheduledDate"><i class="zmdi zmdi-email"></i></label>
                <br> <input type="datetime-local" th:field="*{scheduledDate}" name="scheduledDate" id="scheduledDate"
                            placeholder="ScheduledDate" th:placeholder="#{event.scheduled.date}" required>
                <small class="text-danger" th:if="${#fields.hasErrors('scheduledDate')}"
                       th:errors="*{scheduledDate}">Validation error
                </small>
            </div>

            <div class="form-group">
                <label for="scheduledTime"><i class="zmdi zmdi-email"></i></label>
                <br> <input type="datetime-local" th:field="*{scheduledTime}" name="scheduledTime" id="scheduledTime"
                            placeholder="ScheduledTime" th:placeholder="#{event.scheduled.time}" required>
                <small class="text-danger" th:if="${#fields.hasErrors('scheduledTime')}"
                       th:errors="*{scheduledTime}">Validation error
                </small>
            </div>
            <div>
                <br>
                <button class="btn btn-outline-success" type="submit" th:text="#{event.edit.button}">Edit</button>
            </div>
        </form>
    </div>
</div>

<div class="card text-center container  mt-5 w-50 shadow-lg">
    <h2 class="card-header" th:text="#{topic.topics}">Topics</h2>

    <div class="col">

        <table class="table">
            <thead>
            <tr>
                <th scope="col" th:text="#{topic.id}">Id</th>
                <th scope="col" th:text="#{topic.title}">Topic title</th>
                <th scope="col" th:text="#{topic.speaker}">Speaker</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="topic : ${topics}">
                <td th:text="${topic.getId()}"/>
                <td th:text="${topic.getTopicTitle()}"/>
                <!--                                <td th:text="${topic.getSpeaker()}"/>-->
                <td th:if="${topic.getSpeaker() == '---'}">
                    <form method="POST" class="register-form"
                          th:action="@{/event/{id}/topic/assign(id=${event.getId()})}"
                          th:object="${topic}">

                        <div class="form-group">
                            <select th:field="*{speaker}">
                                <option th:value="---" th:text="---"></option>
                                <option th:each="speaker : ${speakerList}" th:value="${speaker.getId()}"
                                        th:text="${speaker.getFullName()}">
                                </option>
                            </select>
                        </div>

                        <button class="btn btn-outline-success" type="submit" th:text="#{topic.add.speaker}">Create
                        </button>
                    </form>

                </td>
                <td th:unless="${topic.getSpeaker() == '---'}">
                    <span th:text="${topic.getSpeaker()}"/>
                </td>
            </tr>
            <tr>
                <form method="POST" class="register-form"
                      th:action="@{/event/{id}/topic/add(id=${event.getId()})}"
                      th:object="${topic}">
                    <td></td>
                    <td>
                        <div class="form-group">
                            <br> <label for="title"><i class="zmdi zmdi-account-o"></i></label>
                            <input type="text" th:field="*{topicTitle}"
                                   placeholder="add topic" th:placeholder="#{topic.title}" required>
                        </div>
                    </td>
                    <td>
                        <br>
                        <button class="btn btn-outline-success" type="submit" th:text="#{create.event}">Add Speaker
                        </button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/login_page :: footer"></div>
</body>
</html>