<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <div th:replace="fragments/login_page :: head_tag"></div>

</head>
<body class="p-0 m-0"
      th:style="'background: url(../img/desk.jpg) no-repeat center center fixed; background-size: 100% 100%;'">
<div th:replace="fragments/top_menu :: menu"></div>
<div class="card text-center container  mt-5 w-50 shadow-lg">
    <h2 class="card-header" th:text="#{event.edit}">Edit event</h2>
    <div class="col py-3">
        <!--        <form action="#" method="POST" class="register-form" id="register-form" th:action="@{/event/update}"-->
        <form action="#" method="POST" class="register-form" id="register-form"
              th:action="@{/event/update/{id}(id=${event.getId()})}"
              th:object="${event}">

            <div class="form-group">
                <br> <label for="title"><i class="zmdi zmdi-account-o"></i></label>
                <input type="text" th:field="*{title}" name="title" id="title"
                       placeholder="Title" th:placeholder="#{event.crete.title}" required>
                <small class="text-danger" th:if="${#fields.hasErrors('title')}"
                       th:errors="*{title}">Validation error
                </small>
            </div>

            <div class="form-group">
                <label for="scheduledDate"><i class="zmdi zmdi-email"></i></label>
                <br> <input type="datetime-local" th:field="*{scheduledDate}" name="scheduledDate" id="scheduledDate"
                            placeholder="ScheduledDate" th:placeholder="#{event.scheduled.date}" required>
                <small class="text-danger" th:if="${#fields.hasErrors('scheduledDate')}"
                       th:errors="*{scheduledDate}">Validation error
                </small>
            </div>

            <div class="form-group">
                <label for="scheduledTime"><i class="zmdi zmdi-email"></i></label>
                <br> <input type="datetime-local" th:field="*{scheduledTime}" name="scheduledTime" id="scheduledTime"
                            placeholder="ScheduledTime" th:placeholder="#{event.scheduled.time}" required>
                <small class="text-danger" th:if="${#fields.hasErrors('scheduledTime')}"
                       th:errors="*{scheduledTime}">Validation error
                </small>
            </div>
            <div>
                <br>
                <button class="btn btn-outline-success" type="submit" th:text="#{event.edit.button}">Save</button>
            </div>
        </form>
    </div>

    <div class="col">
        <tr th:each="entry : ${event.topics}">
            <td th:text="${entry.key}">topic</td>
            <td th:text="${entry.value}">speaker</td>
        </tr>

        <tr>
            <form method="POST" class="register-form"
                  th:action="@{/event/topic/add}"
                  th:object="${topic}">

                <div class="form-group">
                    <br> <label for="title"><i class="zmdi zmdi-account-o"></i></label>
                    <input type="text" th:field="*{topic}"
                           placeholder="add topic" th:placeholder="#{event.crete.title}" required>
                    <input type="text" th:field="*{id}" hidden="hidden">
                </div>
                <div>
                    <br>
                    <button class="btn btn-outline-success" type="submit" th:text="#{event.edit.button}">Save</button>
                </div>
            </form>
        </tr>
    </div>
</div>
<div th:replace="fragments/login_page :: footer"></div>
</body>
</html>