<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <div th:replace="fragments/login_page :: head_tag"></div>

</head>
<body class="p-0 m-0"
      th:style="'background: url(../img/desk.jpg) no-repeat center center fixed; background-size: 100% 100%;'">
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <div>
            <a href="?lang=en" class="btn btn-outline-success">English</a>
            <a href="?lang=uk" class="btn btn-outline-success">Українська</a>
        </div>
        <form action="" th:action="@{/logout}" name="logout" method="POST">
            <a class="btn btn-outline-success" th:href="@{/event/all}" th:text="#{back.button}">Back</a>
            <button type="submit" class="btn btn-outline-success" name="logout" value="logout"
                    th:text="#{login.out}">Log out
            </button>
        </form>
    </div>
</nav>
<div class="card text-center container  mt-5 w-50 shadow-lg">
    <h2 class="card-header" th:text="#{event.statistics}">Topics</h2>

    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" th:text="#{event.nick.name}"></th>
                <th scope="col" th:text="#{event.is.speaker}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="participant : ${event.getParticipants()}">
                <td th:text="${participant.nickName}"/>
                <td th:text="${participant.isSpeaker}"/>
            </tr>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/login_page :: footer"></div>
</body>
</html>