<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <div th:replace="fragments/login_page :: head_tag"></div>

</head>
<body class="p-0 m-0"
      th:style="'background: url(../img/desk.jpg) no-repeat center center fixed; background-size: 100% 100%;'">
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <div>
            <a href="?lang=en" class="btn btn-outline-success">English</a>
            <a href="?lang=uk" class="btn btn-outline-success">Українська</a>
        </div>
        <div sec:authorize="hasAuthority('SPEAKER')">
            <a class="btn btn-outline-success" th:href="@{/index/cabinet-entrance}"
               th:text="#{speaker.cabinet.entrance}">Cabinet</a>
        </div>
        <div sec:authorize="hasAuthority('MODERATOR')">
            <a class="btn btn-outline-success" th:href="@{/event/all}"
               th:text="#{event.list}">Events list</a>
        </div>

        <form action="" th:action="@{/logout}" name="logout" method="POST">
            <button type="submit" class="btn btn-outline-success" name="logout" value="logout"
                    th:text="#{login.out}">Log out
            </button>
        </form>
    </div>
</nav>

<div class="card text-center container  mt-5 w-50 shadow-lg">
    <div class="display-2 text-center w-100" th:text="#{event.list}">Event list</div>
</div>

<div class="container w-75 bg-light">
    <div class="row my-5">
        <div class="col py-3 shadow rounded">
<!--            <h5 class="text-danger" th:text="${#request.getParameter('error_message')}">Error message</h5>-->
            <div th:if="${#request.getParameter('error_message') != null}" class="alert alert-danger fade show">
                <h5 class="text-danger" th:text="${#request.getParameter('error_message')}">Error message</h5>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">
                        <a th:text="#{event.crete.title}"
                           th:href="@{'/index/' + ${currentPage} + '?sortField=title&sortDirection=' + ${reverseDirection}}">Title</a>
                    </th>
                    <th scope="col">
                        <a th:text="#{event.scheduled.date}"
                           th:href="@{'/index/' + ${currentPage} + '?sortField=scheduledDate&sortDirection=' + ${reverseDirection}}">ScheduledDate</a>
                    </th>
                    <th scope="col">
                        <span th:text="#{event.topics.count}">t_ctn</span>
                    </th>
                    <th scope="col">
                        <span th:text="#{event.participants.count}">p_ctn</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.title}"/>
                    <td th:text="${event.scheduledDate}"/>
                    <td th:text="${#lists.size(event.topics)}"/>
                    <td th:text="${#lists.size(event.participants)}"/>
                    <td>
                        <a class="btn btn-outline-secondary" th:href="@{/index/event/{id}/event-reg(id=${event.getId})}"
                           th:text="#{speaker.register}">Register</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${totalPages > 1}">
                <div class="row col-sm-10">
                    <div class="col-sm-3">
                        [[#{index.pagination.total.row}]] [[${totalItems}]]
                    </div>
                    <div class="col-sm-3">
                        <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                            <a th:if="${currentPage != i}"
                               th:href="@{'/index/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                            <span th:unless="${currentPage != i}">[[${i}]]</span>
                        </span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${currentPage > 1}"
                           th:href="@{'/index/1?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">First</a>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}"
                           th:href="@{'/index/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}"
                           th:href="@{'/index/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
                        <span th:unless="${currentPage < totalPages}">Last</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/login_page :: footer"></div>
</body>
</html>