<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <div th:replace="fragments/login_page :: head_tag"></div>

</head>
<body class="p-0 m-0">
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <div>
            <a href="?lang=en" class="btn btn-outline-success">English</a>
            <a href="?lang=uk" class="btn btn-outline-success">Українська</a>
        </div>
        <form action="" th:action="@{/logout}" name="logout" method="POST">
            <a class="btn btn-outline-success" th:href="@{/index}" th:text="#{back.button}">Back</a>
            <button type="submit" class="btn btn-outline-success" name="logout" value="logout"
                    th:text="#{login.out}">Log out
            </button>
        </form>
    </div>
</nav>

<div class="col py-3">
    <form method="POST" class="register-form" th:action="@{/index/event/{eventId}/event-reg(eventId=${event.getId()})}"
          th:object="${participant}">
<!--        <h5 class="text-danger" th:text="${error_message_event}"></h5>-->
        <h5 class="text-danger" th:text="${error_message}"></h5>

        <div class="form-group">
            <label for="nickName"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <br><input type="text" th:field="*{nickName}" name="nickName" id="nickName"
                       th:placeholder="#{event.reg.participant}" required autofocus>
        </div>
        <div>
            <input type="checkbox" th:field="${participant.isSpeaker}">
            <label class="form-check-label" th:text="#{speaker.become.speaker}">Become a Speaker</label>
        </div>
        <div>
            <br>
            <button class="btn btn-outline-success" type="submit" th:text="#{register.to.event}">Register</button>
        </div>
    </form>
</div>

<div th:replace="fragments/login_page :: footer"></div>
</body>
</html>