<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <div th:replace="fragments/login_page :: head_tag"></div>
    <!--    <link href="../public/css/main.css" rel="stylesheet">-->
    <!-- Lang menu  -->
    <div th:replace="fragments/top_menu :: menu"></div>

</head>
<body class="p-0 m-0" th:style="'background: url(../img/desk.jpg) no-repeat center center fixed; background-size: 100% 100%;'">
<div class="card text-center container  mt-5 w-50 shadow-lg">
<!--    <h2 class="form-signin-heading" th:text="#{reg.header.title}">Create your account</h2>-->
    <h2 class="card-header" th:text="#{reg.header.title}">Create your account</h2>
<!--    <div class="card-body">-->
    <div class="col py-3">
        <form action="#" method="POST" class="register-form" id="register-form" th:action="@{/signup}"
              th:object="${registrationDto}">
            <div class="form-group">
                <label for="firstName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <br> <input type="text" th:field="*{firstName}" name="firstName" id="firstName"
                            placeholder="First Name" th:placeholder="#{reg.first.name.placeholder}" required autofocus>
                <small class="text-danger" th:if="${#fields.hasErrors('firstName')}"
                       th:errors="*{firstName}">Validation error
                </small>
            </div>
            <div class="form-group">
                <br> <label for="lastName"><i class="zmdi zmdi-account-o"></i></label>
                <input type="text" th:field="*{lastName}" name="lastName" id="lastName"
                       placeholder="Last Name" th:placeholder="#{reg.last.name.placeholder}" required>
                <small class="text-danger" th:if="${#fields.hasErrors('lastName')}"
                       th:errors="*{lastName}">Validation error
                </small>
            </div>
            <div class="form-group">
                <label for="email"><i class="zmdi zmdi-email"></i></label>
                <br> <input type="email" th:field="*{email}" name="email" id="email"
                            placeholder="Your Email" th:placeholder="#{reg.email.placeholder}" required>
                <small class="text-danger" th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}">Validation error
                </small>
            </div>
            <div class="form-group">
                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                <br> <input type="password" th:field="*{password}" name="password" id="password"
                            th:placeholder="#{reg.password.placeholder}" required>
                <small class="text-danger" th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}">Validation error
                </small>
            </div>


            <div class="form-group">
                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                <br> <input type="password" th:field="*{matchingPassword}" name="matchingPassword" id="matchingPassword"
                            th:placeholder="#{reg.confirm.password.placeholder}" required>
                <small class="text-danger" th:if="${#fields.hasErrors('matchingPassword')}"
                       th:errors="*{matchingPassword}">Validation error
                </small>
            </div>
            <div>
                <br>
                <button class="btn btn-outline-success" type="submit" th:text="#{login.sign.up}">Sign up</button>
                <div class="my-sm-3 m-3 text-right"><a href="/login" th:text="#{reg.sign.in}">I already have an
                    Account</a></div>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/login_page :: footer"></div>
</body>
</html>