<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    &lt;!&ndash; Bootstrap CSS &ndash;&gt;
&lt;!&ndash;    <div th:replace="fragments/login_page :: head_tag"></div>&ndash;&gt;
    &lt;!&ndash; Bootstrap CSS &ndash;&gt;
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body class="p-0 m-0"
      th:style="'background: url(../img/desk.jpg) no-repeat center center fixed; background-size: 100% 100%;'">
<div th:replace="fragments/top_menu :: menu"></div>


<div class="container w-75 bg-light">
    <div class="row my-5">
        <div class="col py-3 shadow rounded">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" th:text="#{speaker.id}">Id</th>
                    <th scope="col" th:text="#{speaker.firstName}">FirstName</th>
                    <th scope="col" th:text="#{speaker.lastName}">LastName</th>
                    <th scope="col" th:text="#{speaker.choose.topic}">Choose topic</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="speaker : ${speakers}">
                    <td th:text="${speaker.id}"/>
                    <td th:text="${speaker.firstName}"/>
                    <td th:text="${speaker.lastName}"/>

                    <td>
                        <a class="btn btn-outline-success" th:href="@{/event/edit/{id}(id=${speaker.getId})}"
                           th:text="#{speaker.choose.topic}">Register to event</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


&lt;!&ndash;<div th:replace="fragments/login_page :: footer"></div>&ndash;&gt;
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>
-->
