<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <div th:replace="fragments/login_page :: head_tag"></div>

</head>
<body class="p-0 m-0">
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <div>
            <a href="?lang=en" class="btn btn-outline-success">English</a>
            <a href="?lang=uk" class="btn btn-outline-success">Українська</a>
        </div>
        <form action="" th:action="@{/logout}" name="logout" method="POST">
            <a class="btn btn-outline-success" th:href="@{/index}" th:text="#{back.button}">Back</a>
            <button type="submit" class="btn btn-outline-success" name="logout" value="logout"
                    th:text="#{login.out}">Log out
            </button>
        </form>
    </div>
</nav>
<div class="card text-center container  mt-5 w-50 shadow-lg">
    <h2 class="card-header">Topic</h2>

    <div class="col">
        <table class="table">
            <tbody th:object="${topic}">
            <tr>
                <td th:text="${topic.title}"/>
                <td>
                    <form id="assignSpeaker" th:action="@{/event/edit/{eventId}/topic/{topicId}(eventId=${eventId},
                        topicId=${topic.getId()})}" method="post">
                        <select name="speakerId" class="form-select">
                            <option value="" selected disabled>Select user</option>
                            <option th:each="user : ${users}"
                                    th:value="${user.userId}"
                                    th:text="${user.firstName}">
                            </option>
                        </select>
                    </form>
                </td>
                <td>
                    <button class="btn btn-outline-success" type="submit" form="assignSpeaker" th:text="#{speaker.choose.topic}">
                        Choose
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/login_page :: footer"></div>
</body>
</html>